README.html
IPC7351-Least/
IPC7351-Most/
IPC7351-Nominal/
extra-nominal.mod
022pulliam.pdf
FreePCB_User_Guide.pdf
IPC-7x51_PCBM_Land_Pattern_Naming_Convention.pdf
IPC7525A.pdf
IPC_7351.pdf
diodes_com_footprints.pdf
freepcb_1400_user_guide_pdf.zip
ipc-7x51_padstick_naming_conventions.pdf
microchip_packages.pdf
mo-178c.pdf
ms-012f.pdf
to-236h.pdf
test.*
*.txt
*.py
fpl_convert
*.ppt
*~
